<a href="https://colab.research.google.com/github/MataKotos/machine-learning/blob/lab1/1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ЗАДАНИЕ No 1
# РАБОТА С БИБЛИОТЕКОЙ PANDAS

Цель работы: познакомиться с использованием библиотеки pandas при решении
практических задач, связанных с анализом данных.

# Выполнение работы:
Задание состоит в анализе датасета содержащего сведения об алкоголе. Смысл задачи — определять, основываясь на этих данных, .
Набор данных включает следующие атрибуты:
*   county – страна;
*  beer_servings – потребление пива;
*  spirit_servings – потребление спирта;
*   wine_servings – потребление вина;
*   total_litres_of_pure_alcohol – всего литров чистого алкоголя;
*   continent – континент.

1. Импортируйте необходимые библиотеки

In [ ]:
import pandas as pd
import numpy as np

Импортируйте набор данных из файла alco.csv и поместите его в объект DataFrame
Выведите на экран этот датафрейм

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

file_path = '/content/drive/MyDrive/alco (1).csv'
df = pd.read_csv(file_path)

print(df.head())

Mounted at /content/drive
       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent
0                           0.0        AS
1                           4.9        EU
2                           0.7        AF
3                          12.4        EU
4                           5.9        AF

Проверьте датафрейм на наличие отсутствующих значений и дубликатов строк. При наличии обработайте их тем или иным способом

In [ ]:
#проверка пропущенных значений
df.isnull().sum()

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

In [ ]:
#проверка дубликатов
df.duplicated().sum()

np.int64(0)

In [ ]:
#заполнение пропусков
df = df.fillna(0)

Получите сводную информацию по датафрейму

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

Как индексируется набор данных?

In [ ]:
df.index

RangeIndex(start=0, stop=193, step=1)

На каком континенте в среднем потребляется больше всего пива?

In [ ]:
df_clean = df[df['continent'] != 0]

df_clean.groupby('continent')['beer_servings'].mean().sort_values(ascending=False)

continent
EU    193.777778
SA    175.083333
OC     89.687500
AF     61.471698
AS     37.045455
Name: beer_servings, dtype: float64

Напечатайте статистику потребления вина (wine_servings) для каждого континента

In [ ]:
df['continent'] = df['continent'].replace(0, np.nan)
df = df.dropna(subset=['continent'])
df.groupby('continent')['wine_servings'].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

Напечатайте среднее потребление каждой категории вин на каждом
континенте. возможно имелись ввиду категории алкоголя, тк их несколько, а категорий вин нет...

In [ ]:
df.groupby('continent')[
    ['beer_servings', 'spirit_servings', 'wine_servings']
].mean()

           beer_servings  spirit_servings  wine_servings
continent
AF             61.471698        16.339623      16.264151
AS             37.045455        60.840909       9.068182
EU            193.777778       132.555556     142.222222
OC             89.687500        58.437500      35.625000
SA            175.083333       114.750000      62.416667

Напечатайте медианное потребление каждой категории алкоголя на каждом континенте

In [ ]:
df.groupby('continent')[
    ['beer_servings', 'spirit_servings', 'wine_servings']
].median()

           beer_servings  spirit_servings  wine_servings
continent
AF                  32.0              3.0            2.0
AS                  17.5             16.0            1.0
EU                 219.0            122.0          128.0
OC                  52.5             37.0            8.5
SA                 162.5            108.5           12.0

Напечатайте среднее, максимальное и минимальное потребление
спиртных напитков для каждого континента

In [ ]:
df.groupby('continent')['spirit_servings'].agg(['mean', 'max', 'min'])

                 mean  max  min
continent
AF          16.339623  152    0
AS          60.840909  326    0
EU         132.555556  373    0
OC          58.437500  254    0
SA         114.750000  302   25

Какая страна в среднем потребляет больше всего спирта?

In [ ]:
df.loc[df['spirit_servings'].idxmax(), 'country']

'Belarus'

Выведите на экран список «безалкогольных» стран

In [ ]:
df[
    (df['beer_servings'] == 0) &
    (df['spirit_servings'] == 0) &
    (df['wine_servings'] == 0)
]['country']

0           Afghanistan
13           Bangladesh
46          North Korea
79                 Iran
90               Kuwait
97                Libya
103            Maldives
106    Marshall Islands
107          Mauritania
111              Monaco
128            Pakistan
147          San Marino
158             Somalia
Name: country, dtype: object

Разделите набор данных на датафреймы по континентам

In [ ]:
continents = dict(tuple(df.groupby('continent')))
continents['EU']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
1,Albania,89,132,54,4.9,EU
3,Andorra,245,138,312,12.4,EU
7,Armenia,21,179,11,3.8,EU
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
21,Bosnia-Herzegovina,76,173,8,4.6,EU
25,Bulgaria,231,252,94,10.3,EU
42,Croatia,230,87,254,10.2,EU
44,Cyprus,192,154,113,8.2,EU
45,Czech Republic,361,170,134,11.8,EU
48,Denmark,224,81,278,10.4,EU
57,Estonia,224,194,59,9.5,EU
60,Finland,263,133,97,10.0,EU
61,France,127,151,370,11.8,EU
64,Georgia,52,100,149,5.4,EU
65,Germany,346,117,175,11.3,EU
67,Greece,133,112,218,8.3,EU
75,Hungary,234,215,185,11.3,EU
76,Iceland,233,61,78,6.6,EU
81,Ireland,313,118,165,11.4,EU
83,Italy,85,42,237,6.5,EU
93,Latvia,281,216,62,10.5,EU
98,Lithuania,343,244,56,12.9,EU
99,Luxembourg,236,133,271,11.4,EU
105,Malta,149,100,120,6.6,EU
111,Monaco,0,0,0,0.0,EU
113,Montenegro,31,114,128,4.9,EU
120,Netherlands,251,88,190,9.4,EU
126,Norway,169,71,129,6.7,EU
135,Poland,343,215,56,10.9,EU
136,Portugal,194,67,339,11.0,EU
139,Moldova,109,226,18,6.3,EU
140,Romania,297,122,167,10.4,EU
147,San Marino,0,0,0,0.0,EU
151,Serbia,283,131,127,9.6,EU
155,Slovakia,196,293,116,11.4,EU
156,Slovenia,270,51,276,10.6,EU
160,Spain,284,157,112,10.0,EU
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
170,Macedonia,106,27,86,3.9,EU
180,Ukraine,206,237,45,8.9,EU
182,United Kingdom,219,126,195,10.4,EU

Вычислите для столбца total_litres_of_pure_alcohol среднее значение,
моду, медиану, дисперсию и среднеквадратичное отклонение

In [ ]:
column = df['total_litres_of_pure_alcohol']

mean_value = column.mean()
mode_value = column.mode()
median_value = column.median()
variance_value = column.var()
std_value = column.std()

mean_value, mode_value, median_value, variance_value, std_value

(np.float64(4.544117647058823),
 0    0.0
 Name: total_litres_of_pure_alcohol, dtype: float64,
 3.95,
 15.167213713887932,
 3.894510715595469)